* {
    margin: 0px;
    padding: 0px;

}
h1 {
    color: white;
    font-size: 20px;
}

div {
    display: flex;
    background-color: skyblue;
    padding: 20px;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    
}

ul {
    display: flex;
    width: 80%;
    justify-content: space-around;
    list-style-type: none;
    
    
    
    
}
img {
    height: 40px;
}

a {
    color: white;
    text-decoration: none;
}