* {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    box-sizing: border-box;
    border-radius: 5px;
}    

#container {
    width: 970px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 20px;
}


h1 {
    text-align: center;
}


.main {
    border: 1px solid gray;
    padding-left: 5%;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

table {
    
    border: 2px solid lightblue;
}

th, td {
    padding: 5px 15px;
}

img {
    height: 150px;
    width: 305px;
}

.formLine {
    margin-bottom: 10px;
}