body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.center-box {
    margin: 30px;
    background-color: rgb(1, 1, 117);
    height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 20px solid white;
}

.center-item {
    background-color: wheat;
    min-height: 70px;
    width: 70px;
}